.pageheader{
  padding: 1.5rem 0px;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(to left bottom,#746ab4,#729ed0);
  background: -o-linear-gradient(to left bottom,#746ab4,#729ed0);
  background: -moz-linear-gradient(to left bottom,#746ab4,#729ed0);
  background: linear-gradient(to left bottom,#746ab4,#729ed0);
  color: #fff;
  box-shadow: 0 0.125rem 0.625rem rgba(90, 97, 105, 0.12);
}